<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add content to SinghExplains</title>
    <script type="module">
        const func = async ()=>{
  const request = await fetch("https://ipinfo.io/json?token=48fb69c09c1a3e");
  const jsonResponse = await request.json()
  console.log(jsonResponse.ip, jsonResponse.country);
    if (jsonResponse.ip == "103.211.134.199") {
        const displayGreeting =()=>{
            const myDate = new Date();
            const hrs = myDate.getHours();
            let greet;
            // alert(hrs)

            if (hrs < 12) { 
                greet = 'Good Morning â˜€ï¸';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 12 && hrs <= 17){
                greet = 'Good Afternoon ðŸ•‘';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 17 && hrs <= 24){ 
                greet = 'Good Evening ðŸŒƒ';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
        }
        displayGreeting() // return  greet
            

    }
   else if (jsonResponse.ip == "162.192.105.111") {
        const displayGreeting =()=>{
            const myDate = new Date();
            const hrs = myDate.getHours();
            let greet;
            // alert(hrs)

            if (hrs < 12) { 
                greet = 'Good Morning â˜€ï¸';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 12 && hrs <= 17){
                greet = 'Good Afternoon ðŸ•‘';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 17 && hrs <= 24){ 
                greet = 'Good Evening ðŸŒƒ';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Harnoor`
            }
        }
        displayGreeting() // return  greet
            

    }
    else{ 
      window.location.replace("https://github.com/iharnoor")
  
    }

  
}
func()
    </script>
    <link rel="stylesheet" href="../views/css/addcontent.css">
    <link rel="stylesheet" href="../views/css/admin.css">
    <link rel="shortcut icon" href="../views/images/SinghExplains.ico" type="image/svg+xml">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
    <nav class="nav">
        <div class="logo-name">
            <div class="logo-image">
                <img src="../views/images/SinghExplains.png" alt="" class="singhlogo">
            </div>

            <span class="logo_name"></span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Content</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-laptop"></i>
                    <span class="link-name">Gears</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-analytics"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-usd-circle"></i>
                    <span class="link-name">Adsense</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-question-circle"></i>
                    <span class="link-name">Custom Questions</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="main">
            <div class="wrapper">
                <header>Write a New Article for SinghExplains</header>
                <form action="#">
                  <div class="dbl-field">
                    <div class="field">
                      <input type="text" name="name" placeholder="Enter your Blog Title">
                      <i class='fas fa-book'></i>
                    </div>
                    <div class="field">
                      <input type="text" name="name" placeholder="Enter your Component Count Title">
                      <i class="uil uil-3-plus"></i>
                    </div>
                  </div>
                  <div class="dbl-field">

                    <div class="field">
                      <input type="text" name="website" placeholder="Paste your Main Image Link">
                      <i class='fas fa-image'></i>
                    </div>
                    <div class="field">
                      <input type="text" name="website" readonly id="dateinp" placeholder="Enter the date today">
                      <i class='fas fa-clock'></i>
                    </div>
                  </div>
                  <div class="dbl-field">
                    <div class="field">
                      <input type="text" name="website" placeholder="Enter Component Title">
                      <i class='fas fa-book'></i>
                    </div>
                    <div class="field">
                      <input type="text" name="website" placeholder="Enter Component Image">
                      <i class='fas fa-image'></i>
                    </div>
                  </div>
                  <div class="message">
                    <textarea placeholder="Write/Paste your Article" name="message"></textarea>
                    <i class="material-icons">message</i>
                  </div>
                  <div class="button-area">
                    <button  type="submit">Publish Article</button>
                    <span></span>
                  </div>
                </form>
              </div>
            
        </div>
    </section>
    <script src="../views/js/admin.js"></script>
    <script src="../views/js/content.js"></script>
</body>
</html>