<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../views/css/admin.css">
    
  <link rel="shortcut icon" href="../views/images/SinghExplains.ico" type="image/svg+xml">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title> 
    <script type="module">
        const func = async ()=>{
  const request = await fetch("https://ipinfo.io/json?token=48fb69c09c1a3e");
  const jsonResponse = await request.json()
  console.log(jsonResponse.ip, jsonResponse.country);
    if (jsonResponse.ip == "103.211.134.199") {
        const displayGreeting =()=>{
            const myDate = new Date();
            const hrs = myDate.getHours();
            let greet;
            // alert(hrs)

            if (hrs < 12) { 
                greet = 'Good Morning â˜€ï¸';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 12 && hrs <= 17){
                greet = 'Good Afternoon ðŸ•‘';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 17 && hrs <= 24){ 
                greet = 'Good Evening ðŸŒƒ';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
        }
        displayGreeting() // return  greet
            

    }
   else if (jsonResponse.ip == "162.192.105.111") {
        const displayGreeting =()=>{
            const myDate = new Date();
            const hrs = myDate.getHours();
            let greet;
            // alert(hrs)

            if (hrs < 12) { 
                greet = 'Good Morning â˜€ï¸';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 12 && hrs <= 17){
                greet = 'Good Afternoon ðŸ•‘';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Soumyajit`
            }
            else if (hrs >= 17 && hrs <= 24){ 
                greet = 'Good Evening ðŸŒƒ';
                let dashtext = document.querySelector('.dashtext')
            dashtext.innerHTML = `${greet}  Harnoor`
            }
        }
        displayGreeting() // return  greet
            

    }
    else{ 
      window.location.replace("https://github.com/iharnoor")
  
    }

  
}
func()
    </script>
</head>
<body>
    <nav class="nav">
        <div class="logo-name">
            <div class="logo-image">
                <img src="../views/images/SinghExplains.png" alt="" class="singhlogo">
            </div>

            <span class="logo_name"></span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Content</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-laptop"></i>
                    <span class="link-name">Gears</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-analytics"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-usd-circle"></i>
                    <span class="link-name">Adsense</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-question-circle"></i>
                    <span class="link-name">Custom Questions</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text dashtext">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Total Likes</span>
                        <span class="number">50,120</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-user"></i>
                        <span class="text">Total Traffic</span>
                        <span class="number">20,120</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Total Articles</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Joiners of Newsletter</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../views/js/admin.js"></script>
</body>
</html>
