<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../views/css/fournotfour.css">
  <title>This Page was not found on the server</title>
</head>
<div class="flex-container">
  <div class="text-center">
    <h1><span class="fade-in" id="digit1">4</span><span class="fade-in" id="digit2">0</span><span class="fade-in" id="digit3">4</span></h1>
    <h3 class="fadeIn">This Page wasn't found on the server</h3><a href="/" type="button" name="button" >Go Back Home</a>
  </div>
</div>