<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore the gears used by singhin usa</title>
    <meta name="title" content="SinghExplains - Hey, we’re SinghExplains. See our thoughts, stories and ideas.">
  <meta name="description" content="A priority blog by Harnoor Singh to share Knowledge in a better way.">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../views/images/SinghExplains.ico" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" type="text/css" href="../views/css/style.css">
  <link rel="stylesheet" href="../views/css/gears.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    
  <!-- 
    - #HEADER
  -->

  <header class="header section" data-header>
    <div class="container">

      <a href="/" class="logo">
        <img src="../views/images/SinghExplains.png" width="200" height="40" alt="SinghExplains logo">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="/" class="navbar-link hover:underline" data-nav-link>Home</a>
          </li>

          <li class="navbar-item">
            <a href="/blogs" class="navbar-link hover:underline" data-nav-link>Blogs</a>
          </li>

          <li class="navbar-item">
            <a href="/gears" class="navbar-link hover:underline" data-nav-link>My Gears</a>
          </li>

        </ul>
      </nav>

      <div class="wrapper">

        <button class="search-btn" aria-label="search" data-search-toggler>
          <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

          <span class="span">Search</span>
        </button>

        <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
          <span class="span one"></span>
          <span class="span two"></span>
          <span class="span three"></span>
        </button>

        <a href="/" class="btn">Join</a>

      </div>

    </div>
  </header>





  <!-- 
    - #SEARCH BAR
  -->

  <div class="search-bar" data-search-bar>

    <div class="input-wrapper">
      <input type="search" name="search" placeholder="Search" class="input-field">

      <button class="search-close-btn" aria-label="close search bar" data-search-toggler>
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>

    <p class="search-bar-text">Please enter at least 3 characters</p>

  </div>

  <div class="overlay" data-overlay data-search-toggler></div>
  <main>
    <h1 class="text-center">🛠 Gears Used By Harnoor Singh 🛠</h1>
    <section class="section recent" aria-label="recent post">
        <div class="container">

          <div class="title-wrapper">

            <h2 class="h2 section-title">
              My Gears 
            </h2>

            <div class="top-author">
              <ul class="avatar-list">

                <li class="avatar-item">
                  <a href="/" class="avatar large img-holder" style="--width: 100; --height: 100;">
                    <img src="https://d112y698adiu2z.cloudfront.net/photos/production/user_photos/000/756/823/datas/xlarge.png" width="100" height="100" alt="top author" class="img-cover">
                  </a>
                </li>

                

              </ul>

              <span class="span">Harnoor Singh</span>
            </div>

          </div>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/Iphone 14.jpg" width="550" height="659px" loading="lazy"
                    alt="Creating is a privilege but it’s also a gift" class="img-cover">

                  
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Lifestyle</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">People</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Review</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="#" class="card-title hover:underline buy">
                      iPhone 14
                    </a>
                  </h3>

                  <p class="card-text">
                    I recently bought Iphone 14 and its my GO to phone since then, and so far it has never disapointed me
                  </p>
                  <a href="https://amzn.to/3Mqn3AL" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/Laptop.jpg" width="550" height="659px" loading="lazy"
                    alt="Being unique is better than being perfect" class="img-cover">

                  
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Computer</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Laptop </a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Device</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      Macbook Pro M1 pro
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The M1 PRO macbook and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/41qetcE" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/keyboard.jpg" width="550" height="659px" loading="lazy"
                    alt="Now we’re getting somewhere" class="img-cover">

                  <ul class="avatar-list absolute">


                  </ul>
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Peripherals</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Device</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Ergonomics</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      Logitech K480 Wireless
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The Logitech K480 Wireless Keyboard and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/3ItbsBe" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/mouse.png" width="550" height="659px" loading="lazy"
                    alt="The trick to getting more done is to have the freedom to roam around" class="img-cover">

                  
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Mouse</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Peripherals</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      Inphic Bluetooth Mouse
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The Inphic Bluetooth Mouse and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/3ItbysA" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/Travel Monitor.jpg" width="550" height="659px" loading="lazy"
                    alt="Every day, in every city and town across the country" class="img-cover">

                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Monitor</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Peripherals</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Coding</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      ARZOPA Monitor for Travel Use Case
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The ARZOPA Monitor and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/3CntuRx" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/bagpack.jpg" width="550" height="659px" loading="lazy"
                    alt="Your voice, your mind, your story, your vision" class="img-cover">

                 
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Bagpack</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Container</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Bags</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      YOREPEK Travel Backpack
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The YOREPEK Travel Backpack and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/40omWwu " target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/Rode_Mic.jpg" width="550" height="659px" loading="lazy"
                    alt="Your voice, your mind, your story, your vision" class="img-cover">

                 
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Mic</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Audio</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Equipment</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      Rode USB Videomic Pro
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The Rode  Videomic  and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/41mXKGT" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/Wireless Mic.jpg" width="550" height="659px" loading="lazy"
                    alt="Your voice, your mind, your story, your vision" class="img-cover">

                 
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Mic</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Audio</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Equipment</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      DJI Mic
                    </a>
                  </h3>

                  <p class="card-text">
                    recently I bought The DJI mic and it has been working great so far.
                  </p>
                                   <a href="https://amzn.to/3Z7VjpM" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="https://media.istockphoto.com/id/1273109788/vector/coming-soon-isolated-vector-icon-paper-style-promotion-sign-start-a-new-business-design.jpg?s=612x612&w=0&k=20&c=0APH6QCc371SuCEYLspgp6oh-tE5-rvbK0dzLMRmJGA=" width="550" height="659px" loading="lazy"
                    alt="Your voice, your mind, your story, your vision" class="img-cover">

                 
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Coming Soon</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Coming Soon</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Coming Soon</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      More Gears Used by Me are coming soon :)
                    </a>
                  </h3>

                  <p class="card-text">
                    Along with these I use a lot more Gears which I will add slowly slowly so be tuned for that as well. 
                  </p>
                                   <a href="https://amzn.to/3Z7VjpM" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>
                </div>

              </div>
            </li>

          </ul>


        </div>
        <div class="container">

          <div class="title-wrapper">

            <h2 class="h2 section-title" style="margin-top: 15px;">

              Products I <strong>Reviewed</strong> 
            </h2>

            <div class="top-author">
              <ul class="avatar-list">

                <li class="avatar-item">
                  <a href="/" class="avatar large img-holder" style="--width: 100; --height: 100;">
                    <img src="https://d112y698adiu2z.cloudfront.net/photos/production/user_photos/000/756/823/datas/xlarge.png" width="100" height="100" alt="top author" class="img-cover">
                  </a>
                </li>

                

              </ul>

              <span class="span">Harnoor Singh</span>
            </div>

          </div>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="../views/images/Nothing_Phone.jpg" width="550" height="659px" loading="lazy"
                    alt="Creating is a privilege but it’s also a gift" class="img-cover">

                 
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Phone</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Nothing</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Review</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                      Nothign Phone (1)
                    </a>
                  </h3>

                  <p class="card-text">
                   I have recently Reviewed Nothing Phone 1 and the review is on my channel as well. It is good so far.
                  </p>
                                   <a href="https://amzn.to/3m4H1YU" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>

                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 550; --height: 659px;">
                  <img src="https://media.istockphoto.com/id/1273109788/vector/coming-soon-isolated-vector-icon-paper-style-promotion-sign-start-a-new-business-design.jpg?s=612x612&w=0&k=20&c=0APH6QCc371SuCEYLspgp6oh-tE5-rvbK0dzLMRmJGA=" width="550" height="659px" loading="lazy"
                    alt="Creating is a privilege but it’s also a gift" class="img-cover">

                 
                </figure>

                <div class="card-content">

                  <ul class="card-meta-list">

                    <li>
                      <a href="/" class="card-tag">Coming Soon</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Coming Soon</a>
                    </li>

                    <li>
                      <a href="/" class="card-tag">Review</a>
                    </li>

                  </ul>

                  <h3 class="h4">
                    <a href="/" class="card-title hover:underline">
                     More Reviews by me are coming soon :)
                    </a>
                  </h3>

                  <p class="card-text">
                   More reviews that are already in my channel also some are actually scheduled will be added soon. So be tuned for that matter:)
                  </p>
                                   <a href="#" target="_blank" style="text-decoration: none;" class="button-gear-btn"> Buy On Amazon
                  </a>

                </div>

              </div>
            </li>



          </ul>


        </div>
      </section>
  </main>
    <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

          <a href="/" class="logo">
            <img src="../views/images/SinghExplains.png" width="200" height="40" alt="SinghExplains logo">
          </a>

          <p class="footer-text">
            We are SinghExplains a priority blog to share Knowledge of <a href="https://www.youtube.com/@SinghinUSA" target="_blank" class="copyright-link hover:underline">SinghInUsa</a>
          </p>

        </div>

        <ul class="footer-list">

          <li>
            <p class="h5">Social</p>
          </li>

          <li class="footer-list-item">
            <ion-icon name="logo-facebook"></ion-icon>

            <a href="/" class="footer-link hover:underline">Facebook</a>
          </li>

          <li class="footer-list-item">
            <ion-icon name="logo-twitter"></ion-icon>

            <a href="/" class="footer-link hover:underline">Twitter</a>
          </li>

          <li class="footer-list-item">
            <ion-icon name="logo-instagram"></ion-icon>

            <a href="/" class="footer-link hover:underline">Instagram</a>
          </li>

          <li class="footer-list-item">
            <ion-icon name="logo-linkedin"></ion-icon>

            <a href="/" class="footer-link hover:underline">LinkedIn</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="h5">About</p>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">About Authors</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Features</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Contact</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Sitemap</a>
          </li>

          <li>
            <a href="/terms" target="_blank" class="footer-link hover:underline">Privacy Policy</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="h5">Features</p>
          </li>

          
          <li>
            <a href="/" class="footer-link hover:underline">Blog & News</a>
          </li>
          <li>
            <a href="/" class="footer-link hover:underline">Newsletter</a>
          </li>

          <li>
            <a href="https://www.singhinusa.com/" target="_blank" class="footer-link hover:underline">Learn</a>
          </li>

          <li>
            <a href="/terms" target="_blank" class="footer-link hover:underline">Terms of Service</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Testimonial (Coming Soon)</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="h5">Categories</p>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Lifestyle</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Development</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Guidance</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Informations</a>
          </li>

          <li>
            <a href="/" class="footer-link hover:underline">Fun</a>
          </li>

        </ul>

      </div>

      <div class="section footer-bottom">

        <p class="copyright">
        </p>

      </div>

    </div>
  </footer>

    
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="../views/js/gears.js"></script>
</body>
</html>