<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- 
    - primary meta tags
  -->
  <title>SinghExplains - Hey, we’re SinghExplains. See our thoughts, stories and ideas.</title>
  <meta name="title" content="SinghExplains - Hey, we’re SinghExplains. See our thoughts, stories and ideas.">
  <meta name="description" content="A priority blog by Harnoor Singh to share Knowledge in a better way.">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../views/images/SinghExplains.ico" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" type="text/css" href="../views/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>
<style>
    *{
        margin: 20px 50px;
        font-family: 'Inter';
    }
</style>
<body>
    <h1>Redirecting Please Wait... </h1>
         
    <script>
        window.location.replace('https://www.termsfeed.com/live/04308551-42e4-42c3-96fb-920ac04a4517')
    </script>
</body>
</html>